.top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem; /* Prevents touching right screen edge */
}

.user-section {
  display: flex;  /* Change from column to row to align buttons horizontally */
  align-items: center;  /* Center items vertically */
  gap: 1rem;  /* Space between buttons */
}

.top-right span {
  pointer-events: auto; /* Ensure clicks work */
  cursor: pointer; /* Show hand cursor */
}

button, span {
  pointer-events: auto !important;
  cursor: pointer;
}

.score-wrapper {
  width: 150px; /* Set a custom width to make the score smaller */
  margin: 0 auto; /* Center the score */
}





/* Hover Effect */

/* Mobile Optimization */
@media (max-width: 768px) {
  .top-right {
    justify-content: center;
    flex-wrap: nowrap;

    width: 100%;
    gap: 0.5rem;
    font-size: 0.2rem;
    overflow: hidden;
    margin-right: 0; /* Center on smaller screens */
  }

  .custom-mat-button {
    padding: 2px 4px;
    font-size: 0.2rem;
    transform: none;
  }

  .top-right button {
    font-size: 0.5rem; /* Slightly smaller text */
    padding: 5px 9px; /* Reduce padding */
  }


}
