<footer class="footer">
  <div class="footer-section left">
    <!-- Clicking "Contact Us" opens the form -->
    <button mat-button (click)="openContactForm('Support')" >Contact Us</button>
  </div>

  <div class="footer-section middle">
    <a href="https://www.linkedin.com/in/vishalrow/" target="_blank" rel="noopener">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/vishalmysore" target="_blank" rel="noopener">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://medium.com/@visrow" target="_blank" rel="noopener">
      <i class="fab fa-medium"></i>
    </a>
  </div>

  <div class="footer-section right">
    <!-- Clicking "Contribute" opens the form -->
    <button mat-button  (click)="openContactForm('Contribute')" >Contribute</button>
  </div>
</footer>

<!-- Contact Us Modal -->
<app-contact-us
  *ngIf="showContactForm"
  (formSubmitted)="handleFormSubmission($event)"
  (closeRequested)="closeContactForm()">
</app-contact-us>
