<div class="user-container">
  <!-- Profile Card -->
  <mat-card class="user-profile">
    <mat-card-header>
      <mat-card-title>
        📝 Sign In
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        🎉 By signing on, you become a verified user, which comes with many benefits! You will receive <strong>25 Barfis 🍬</strong>  <span matTooltip="🍬 Barfis are delicious Indian sweets, and in the context of EasyQZ, they come with amazing powers ⚡ to enhance your experience!" aria-label="Barfis Info">❓</span> for free, which are delicious Indian sweets that come with amazing powers ⚡ in the context of EasyQZ.

        You will also be at the top of the list to access fantastic features like broadcasting interesting links 🔗, getting mentorship 💡, and even becoming a mentor 🙌. And the best part? It's absolutely free! 🎁
      </p>

      <div class="login-button">
        <button mat-raised-button (click)="signInWithGoogle()">
          <img
            src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
            alt="Google"
            class="google-icon"
          />
          Sign in with Google 🔑
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
