<div class="user-container">
  <!-- Profile Card -->
  <mat-card class="user-profile">
    <mat-card-header>
      <mat-card-title>
        Sign In
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-button">
      <button mat-raised-button (click)="signInWithGoogle()">
        <img
          src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
          alt="Google"
          class="google-icon"
        />
        Sign in with Google
      </button>
      </div>
   </mat-card-content>
  </mat-card>
</div>
